@font-face {
    font-family: 'berlin';
    src: url('/media/fonts/berlin.ttf');
}


@font-face {
    font-family: 'berlin bold';
    src: url('/media/fonts/berlinBold.ttf');
}


html {
    scroll-behavior: smooth;
    background-color: #F7F4D5;
}

body {
    margin: 0;
    font-family: 'berlin bold';
}

main {
    padding: 77px 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 0;
}

main>p {
    font-family: "berlin", monospace;
    text-align: center;
    font-size: 20px;

}

section {
    width: 100%;
}

section.hero {
    height: calc(100vh - 77.2px);
    min-height: 600px;
    background-color: #F7F4D5;
}

section.game {
    background-color: #DBD6B2;
}

section.statistics {
    /* height: 500px; */
}